*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 140px 0;
}

.gallery {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2vmin;
  padding: 0 14px;
}
.gallery::after {
  content:'';
  display:block;
  flex-grow: 10;
}
.gallery li {
  list-style-type: none;
  height: 250px;
  flex-grow: 1;
}
.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

